<ion-header>
  <ion-toolbar>
    <ion-title>
      Detalhes do Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let favorite of user.favorites">
    <img [src]="favorite.pokemon_info.original.photo" alt="{{ favorite.pokemon_info.original.name }}">
    <ion-card-header>

      {{ favorite.pokemon_info.original.name }}
    </ion-card-header>
    <ion-card-content>
      <p>Tipo: {{ favorite.pokemon_info.original.type }}</p>
      <p>HP: {{ favorite.pokemon_info.original.hp }}</p>
      <p>Ataque: {{ favorite.pokemon_info.original.attack }}</p>
      <p>Defesa: {{ favorite.pokemon_info.original.defense }}</p>
      <p>Ataque Especial: {{ favorite.pokemon_info.original.special_attack }}</p>
      <p>Defesa Especial: {{ favorite.pokemon_info.original.special_defense }}</p>
      <p>Velocidade: {{ favorite.pokemon_info.original.speed }}</p>
      <p>Habilidade: {{ favorite.pokemon_info.original.ability }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
