/* Estilo para o formulário de login */
.login-form {
  max-width: 300px;
  margin: 0 auto;
}

/* Estilo para o botão de login */
.login-button {
  margin-top: 20px;
}

/* Estilo para o cabeçalho da página */
ion-toolbar {
  --background: #1978c8; /* Cor de fundo do cabeçalho */
  --color: white; /* Cor do texto do cabeçalho */
}
