<ion-header>
  <ion-toolbar>
    <ion-title>Pokémon Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="pokedex">


  <h2>Pokémon ID: {{ pokemonId }}</h2>

  <ion-button id="present-alert"><ion-icon name="heart-outline"> </ion-icon> Favoritar</ion-button>
  <ion-alert trigger="present-alert" header="Você realmente quer favoritar ess pokemon?" [buttons]="alertButtons" (didDismiss)="setResult($event)">
  </ion-alert>
  <div class="cartoes-pokemon">
    <div [ngClass]="getTipoClass(pokemonDetails.type)" class="cartao-pokemon aberto " id="cartao-pikachu">



      <div class="cartao-topo">
        <span>#00{{ pokemonDetails.id }}</span>

        <div class="detalhes">

          <h2 class="nome">{{ pokemonDetails.name.charAt(0).toUpperCase() + pokemonDetails.name.slice(1) }}</h2>


        </div>

        <div class="tipo">
          <span class="tipo1">
            <img [src]="getTipoImage(pokemonDetails.type)" alt="pokemon">
            {{ pokemonDetails.type.charAt(0).toUpperCase() + pokemonDetails.type.slice(1) }}
          </span>
        </div>


        <div class="cartao-imagem">
          <img [src]="pokemonDetails.photo" [alt]="pokemonDetails.name">
        </div>
      </div>
      <div class="cartao-informacoes">
        <div class="status">
          <h3>Status</h3>
          <ul>
            <li><strong>HP:</strong> {{ pokemonDetails.hp }}</li>
            <li> <strong>Ataque:</strong> {{ pokemonDetails.attack }}</li>
            <li> <strong>Defesa:</strong> {{ pokemonDetails.defense }}</li>
            <li> <strong>Velocidade:</strong> {{ pokemonDetails.speed }}</li>
            <li> <strong>Ataque Especial:</strong> {{ pokemonDetails.special_attack }}</li>
            <li> <strong>Defesa Especial:</strong> {{ pokemonDetails.special_defense }}</li>
            <li> <strong>Total:</strong> {{ pokemonDetails.total_stats
            }}</li>
          </ul>
        </div>
        <div class="habilidades">
          <h3>Habilidades</h3>
          <ul>
            <li>{{ pokemonDetails.ability.charAt(0).toUpperCase() + pokemonDetails.ability.slice(1) }}</li>

          </ul>
        </div>
      </div>
      <div>

      </div>
    </div>

  </div>
</ion-content>
