<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokemons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="pokedex">
  <ion-item>
    <ion-input [(ngModel)]="pokemonName" placeholder="Nome do Pokémon"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="searchPokemon()">Pesquisar</ion-button>
  <p class="error-message" *ngIf="!pokemon">{{ errorMessage }}</p>
  <nav class="listagem">
    <ul *ngIf="pokemon">
      <li class="pokemon" *ngIf="pokemon" (click)="mostrarDetalhes(pokemon.id)">
        <img [src]="pokemon.sprites.other.dream_world.front_default" [alt]="pokemon.name">
        <span>{{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }}</span>
      </li>
    </ul>


    <div *ngIf="pokemons.length === 0" class="loading">
      Carregando...
    </div>

    <ul *ngIf="pokemons.length > 0">

      <li class="pokemon" *ngFor="let pokemon of pokemons" (click)="mostrarDetalhes(pokemon.id)">
        <img [src]="pokemon.image" [alt]="pokemon.name">
        <span>{{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }}</span>
      </li>
    </ul>

    <div class="paginacao">
      <ion-button (click)="changePagination(0)">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>

      <ion-button (click)="changePagination(1)">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </nav>
</ion-content>
