<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-header">
    <img src="../../assets/img/profile.png" alt="Foto de Perfil" class="profile-image" />
    <h1>{{ userData.name }}</h1>
    <p><strong>Pontuação: </strong><br/>{{ userData.pontuation }} pontos</p>
    <p><strong>Email: </strong><br/> {{ userData.email }}</p>

  </div>
  <ion-list>


    <ion-item>

      <ion-button fill="clear" slot="end" (click)="logout()">
        <ion-label>Sair</ion-label>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
