<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bem-vindo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-list>
        <ion-item>
          <ion-badge slot="end">{{ user.pontuation }} pontos</ion-badge>
          <ion-label>{{ user.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>Seja bem-vindo ao nosso aplicativo!</p>
    <p>Clique no botão abaixo para continuar.</p>

    <!-- Botão "Próximo" -->
    <!-- <ion-button expand="full" (click)="irParaTelaLogin()">Próximo</ion-button> -->

  </div>
</ion-content>
